<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" id="{%=file.identifier%}"> 
      {% if (file.error) { %}
      <td>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header"><%= t 'bootsy.image.size' %></li>

          <% Bootsy.image_versions_available.each do |size| %>
            <li role="presentation" class="dropdown dropdown-submenu">
              <%= link_to '#', tabindex: '-1', role: 'menuitem', data: { toggle: 'dropdown' } do %>
                <i class="icon-picture"></i>

                <%= t size, scope: 'bootsy.image' %>
              <% end %>

              <ul class="dropdown-menu" role="menu">
                <% [:left, :right, :inline].each do |position| %>
                  <li role="presentation">
                    <%= link_to '#', class: 'insert', tabindex: '-1', role: 'menuitem', data: { image_size: size.to_s, position: position.to_s} do %>
                      <%= t position, scope: 'bootsy.image.position' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </td>
      <td class="name">
        <span class="text-danger"><i class="fa fa-exclamation-circle"></i>{%=locale.fileupload.errors[file.error] || file.error%}</span>
      </td>
      <td class="delete">
        <button class="btn btn-danger btn-xs btn-fileupload-delete" data-type="DELETE" data-url="{%=file.resource_url%}">
          <%= content_tag(:span, nil,  class: 'fa action-icon fa-trash') %>
        </button>
      </td>
      {% } else { %}
      <td class="preview">
        {% if (file.thumb_url) { %}
        <img src="{%=file.thumb_url%}"></img>
        {% } else { %}
        <i class="{%=file.icon_class || 'fa fa-file'%}"></i>
        {% } %}
      </td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td>
        {% if (file.add_to_background_url) { %}
        <a class="btn btn-default btn-xs" rel="nofollow" data-method="patch" href="{%=file.add_to_background_url%}">
          <i class="fa fa-plus-square-o"></i>
        </a>
        {% } %}
        <a class="btn btn-danger btn-xs btn-fileupload-delete" data-type="DELETE" data-remote="true" rel="nofollow" data-method="delete" href="{%=file.resource_url%}">
          <span class="fa action-icon fa-trash"></span>
        </a>
      </td>
      {% } %}
    </tr>
    {% } %}
</script>