<%= content_tag :tr, id: dom_id(image, :row), class: 'bootsy-image', data: { id: image.id} do %>
  <td class="preview">
    <div class="bootsy-image dropdown col-sm-2">
      <%= link_to image_tag(image.image_file.url(:tiny)), '#', data: { toggle: 'dropdown' } %>

      <ul class="dropdown-menu" role="menu">
        <li role="presentation" class="dropdown-header"><%= t 'bootsy.image.size' %></li>

        <% Bootsy.image_versions_available.each do |size| %>
          <li role="presentation" class="dropdown dropdown-submenu">
            <%= link_to '#', tabindex: '-1', role: 'menuitem', data: { toggle: 'dropdown' } do %>
              <i class="icon-picture"></i>

              <%= t size, scope: 'bootsy.image' %>
            <% end %>

            <ul class="dropdown-menu" role="menu">
              <% [:left, :right, :inline].each do |position| %>
                <li role="presentation">
                  <%= link_to '#', class: 'insert', tabindex: '-1', role: 'menuitem', data: { image_size: size.to_s, position: position.to_s} do %>
                    <%= t position, scope: 'bootsy.image.position' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </td>
  <td class="name"><%= image.image_file.try(:file).try(:filename) %></td>
  <td>
    <% if Bootsy.allow_destroy %>
      <%= link_to ink_to [image.image_gallery, image], method: :delete, remote: true, data: { type: 'json' } class: 'btn btn-danger btn-xs btn-fileupload-delete' do do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
<% end if image.persisted? %>
